<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Detalle de usuario </h1>
    <p> <%= user.id %> </p>
    <p> <%= user.name %> </p>
    <p> <%= user.amount %> </p>
    <form action="/<%= user.id %>?_method=delete" method="POST">
        <button>Borrar</button>
    </form>
    <a href="<%= user.id %>/edit">Editar</a>
</body>
</html>